// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$primary-font: 'Roboto', sans-serif;

// Colors
$black-color: #000000;
$white-color: #FFFFFF;
$gray-color: #AEB3BC;
$lighter-gray-color: rgb(197, 197, 197);
$body-bg: #55557E;
$button-bg: #3D3E52;
$button-bg-hover: #252525;